* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



header {
  background-color: rgb(11, 92, 24);
  color: white;
  padding: 5px;
  font-size: 20px;
  margin: 0px 0px 10px 0px
}

p.welcome-message {
  font-size: 18px;
  margin: 0px 10px 20px 10px;
  text-align: justify;
}

h2 {
  color: rgb(11, 92, 24);
  margin: 0px 10px 10px 10px;
}

p.fuel-mode-description {
  font-size: 16px;
  margin: 0px 10px 20px 10px;
  text-align: justify;
}

ul {
  list-style-type: disc;
  margin: 0px 10px 20px 30px;
}

section.fuel-mode-result-description {
  font-size: 16px;
  margin: 0px 10px 20px 10px;
  text-align: justify;
}

section.currency-mode-result-description {
  font-size: 16px;
  margin: 0px 10px 20px 10px;
  text-align: justify;
}

p.currency-mode-description {
  font-size: 16px;
  margin: 0px 10px 20px 10px;
  text-align: justify;
}

div.Contenitore-modalità {
  display: flex;
  justify-content: center;
  margin: 30px auto;
  gap: 40px;
  max-width: 1000px;
}

div.scheda-modalità {
  background-color: #0b5c18;
  color: white;
  padding: 20px;
  border-radius: 5px;
}

#distance,
#consumption,
#fuelPrice,
#calculateFuel {
  margin-bottom: 10px;
}

#amount,
#fromCurrency,
#toCurrency,
#calculateCurrency {
  margin-bottom: 10px;
}

hr {
  margin-bottom: 20px;
}

footer {
  color: rgb(11, 92, 24);
  text-align: center;
}


.storico-box {
  margin-top: 20px;
  padding-top: 15px;
  border-top: 1px dashed #ccc;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
  font-size: 0.9rem;
}

th,
td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

th {
  color: #0b5c18;
}

th {
  background-color: #f2f2f2;
  font-weight: bold;
}


